.box-footer {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: var(--color-dark);
  color: var(--color-bouns);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2em;
}
